@media (max-width:600px) {
    #header_part2
    {
        text-align: end;
        width:50px;
        height: 120vh;   
       color: #0a0709;
            background-color: #8d60a4;
}
#header_part1 img
    {
    
        width:2vh;
        height: 120vh;   
       color: #0a0709;
            background-color: #8d60a4;
}
#header
{   
    margin: 0% 0% 0% 0%;
    
    text-align: center;
    width: 50%;

}
}
#header{

    height: 20vh;
    width:100%;
   /* top right bottom left */ 
flex-wrap: wrap;
    flex-direction:row;
    
    
}
#header_part1
{
 
    
    width:10vh;
    
     padding: 0%;
    margin-left: 5vh;
    float: left;
    text-align: center;
    border-radius: 20px;


    
}
#header_part2
{

    float:right;
    height: 100px;
    width:80vh;
    border:none solid black;
    margin: 0% 0% 0% 0%;
    padding: 0%;
    color: #75c629;
    text-align: center;
    box-shadow: 2px 5px 8px 1px red;

}

#header_part1 img
{
 display: flex;
    height: 80px;
    width: 20vh;
    margin-top: 1vh;
    border: 0px;
    border-radius: 15px;
    box-shadow:10PX 3PX 70PX 10PX #ee02d6;

}
#header_part2 img
{
    margin-top: 10vmax;
    border: #171a19;
    border-radius: 10px;
    box-shadow: #8d60a4;
    width: .1vh;
    
}

#container{

   height:5000px;
    width: 100%;
     margin: 0% 0% 0% 0%;
    /* top right bottom left */ 

    background:rgb(212, 208, 209);
    
     
}
.carousel-inner img
{
  width: 1vh;
  height: 2vh;
}

#myCarousel
{
      width: 70%;
      margin-left: 12.50%;
    

}
#myCarousel img
{ 
    height:300px;

}
#container1{

    height:500px;
     width: 90%;
      margin: 5% 0% 5% 5%;
     /* top right bottom left */ 
 
     background:rgb(131, 154, 120);
          
     border-radius:30px;
     border-color: #0b0c0a;
     box-shadow: 15px 15px 20px 10px rgb(232, 225, 7);
     
      
 }
  

 #imgchange1
 {
    height:350px;
    width:90%;
    margin:0% 0% 0% 5%;
    box-shadow: 2px 5px 0px 3px white;
    border-radius: 30px;
   
}


 
 #imgchange2
 {
    height:130px;
    width:90%;
    margin:0% 0% 0% 5%;
    box-shadow: 2px 5px 0px 3px rgb(240, 3, 3);
    border-radius: 30px;
    
 }

 #imgchange1 img
 {
    height:300px;
    position:relative;
    margin:30px 50px 20px 110px;
    width: 70%;
    border-radius: 30PX;

 }

 #imgchange2 img
 {
    height:100px;
    position:relative;
    margin:20px 20px 20px 40px;
    width: 25%;
    border-radius: 30PX;

 }


#content{

    height: 600px;
    width: 100%;
     margin: 0% 0% 0% 10%;
    /* top right bottom left */ 

    background: #8fb8a4;
    border-radius: 20px;

     
}

 

#content1
{
    height: 600px;
    width: 40%;
    background-color: rgb(243, 187, 4);
    float:left;
    border-radius: 20px;
    box-shadow: 0px 70px 70px 50px  red;
}

#content1 img
{
    margin-top:10px;
    height: 200px;
    width:90%;
    border-radius: 10px;
    margin-left:5%;
    border-color: #75c629;
    
    box-shadow: 0px 20px 20px 10px rgb(21, 21, 19);
    
    opacity: 100%;
}

#content2
{
    height: 600px;
    width: 20%;
    background-color: rgba(252, 251, 249, 0.894);
    float:left;
    border-radius: 20px;
   
}

#content3
{
    height: 600px;
    width: 40%;
    background-color: rgb(94, 91, 81);
    float:left;
    border-radius: 20px;
    box-shadow: 0px 70px 70px 50px  red;
}


#content3 img
{
    margin-top:10px;
    height: 200px;
    width:90%;
    border-radius: 10px;
    margin-left:5%;
    border-color: #75c629;
    
    box-shadow: 0px 20px 20px 10px rgb(21, 21, 19);
    
    opacity: 100%;
}

#content4
{
    height: 600px;
    width: 40%;
    background-color: rgb(5, 143, 153);
    float:left;
    border-radius: 20px;
    box-shadow: 0px 70px 70px 50px  red;
}

#content4 img
{
    margin-top:10px;
    height: 200px;
    width:90%;
    border-radius: 10px;
    margin-left:5%;
    border-color: #75c629;
    
    box-shadow: 0px 20px 20px 10px rgb(21, 21, 19);
    
    opacity: 100%;
}

#content5
{
    height: 600px;
    width: 40%;
    background-color: rgb(5, 143, 153);
    float:left;
    border-radius: 20px;
    box-shadow: 0px 70px 70px 50px  red;
}

#content5 img
{
    margin-top:10px;
    height: 200px;
    width:90%;
    border-radius: 10px;
    margin-left:5%;
    border-color: #75c629;
    
    box-shadow: 0px 20px 20px 10px rgb(21, 21, 19);
    
    opacity: 100%;
}


#pandoc
{
    color:rgb(7, 76, 185);
    text-align: center;
    border: 5px;
    background-color: #75c629;
    border-radius:20px;
   

}
#pandoc_content
{
    
    color:rgb(14, 2, 3);
    border: 5px;
    background-color:none;
    border-radius:20px;
    margin-left: 20px;
    margin-right:20px;
    box-shadow: 0px 70px 70px 50px  red;
    
    
}

 
 



#nav{

    height: 35px;
    width: 154vh;
     margin: 0% 0% 0% 0%;
    /* top right bottom left */ 
     

    background: hsl(280, 97%, 42%);
     
}

#footer{

    height: 100px;
    width: 100%;
     margin: 0% 0% 0% 0%;
    /* top right bottom left */ 

    background: #8d60a4;
     
     
}

#nav ul
{
    list-style:none;
    /* this is used for remove bullets */
}
#nav ul li
{
 display:inline-block;
 /*it is use for horizontal list*/
 height:35px;
 width: 16%;
 text-align: center;
 border-radius: 50PX;
 font-size:20px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight:bold;
 color:rgb(79, 3, 179);
 background-color: #edf2edf9;
}

#nav ul li:hover
{
    background-color: rgb(195, 239, 2);
    color: black;
}

*
{
    margin: 0;
    padding: 0;
}

#accordion h3
{
    color: rgb(6, 203, 12);
    background-color: aliceblue;
}